#GLOBALES

#Objetos a ignorar
*.env*

#Objetos a omitir
!.env.example


##############################################
##############################################


#Experto OpenCode

#Objetos a ignorar
ExpertoOpenCode/practicas/
ExpertoOpenCode/.opencode/node_modules


#Objetos a omitir
!ExpertoOpenCode/.opencode/agent
